.story-page {
    background-color: #333;
    color: white;
    padding: 6rem;
    position: relative;
    font-family: var(--font-base);
}

.story-page p {
    width: 40%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.story-page p:nth-child(1) {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 2rem;
    width: 55%;
    background-color: rgb(8, 106, 145);
    padding: 1rem;
}


.story-page p {
    margin-top: 12rem;
    z-index: 10;
}

.story-page p:nth-child(even) {
    margin-left: auto;
}

.achilles {
    position: absolute;
    top: 20rem;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;

}

.story-page svg {
    display: inline-block;
    height: 110rem;
}